---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg

WarningsAsErrors: ''
HeaderFilterRegex: '^((?!_deps).)*src/.*'
FormatStyle: file